<div ui-view="heroBanner"></div>
<!-- PRODUCT-OFFER -->
<div class="product_wrap">
    <div class="container">
        <div class="heading-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Featured Products <span></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/dhokracasting0003.jpg"></a>
                        <div class="overlay">
                            <a class="zoom prettyPhoto" href="assets/images/products/dhokracasting0003.jpg"></a> 
                            <a class="link" href="#/details/dhokracasting0003"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 799.00</span>
                        <h4>Necklace</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/dhokracasting1213.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/dhokracasting1213.jpg"></a> 
                            <a class="link" href="#/details/DHKCAST1213"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 1287.00</span>
                        <h4>Dhokra Casting Idol</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/dhokracasting1233.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/dhokracasting1233.jpg"></a> 
                            <a class="link" href="#/details/DHKCAST1233"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 2300.00</span>
                        <h4>Dhokra Casting</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/necklace0001.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/necklace0001.jpg"></a> 
                            <a class="link" href="#/details/NKLACE0001"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 2600.00</span>
                        <h4>XYZ Necklace</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/seashell1887.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/seashell1887.jpg"></a> 
                            <a class="link" href="#/details/CSHELL1887"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 650.00</span>
                        <h4>Sea Shell Decoratives</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/necklace0002.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/necklace0002.jpg"></a> 
                            <a class="link" href="#/details/NKLACE0002"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 350.00</span>
                        <h4>Tribal Necklace</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" ng-click="++cartItemCount" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/seashell2237.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/seashell2237.jpg"></a> 
                            <a class="link" href="#/details/CSHELL2237"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 550.00</span>
                        <h4>Sea Shell Decoratives</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <figure>
                        <a href="javascript:void(0);"><img alt="" src="assets/images/products/tribaljewel2377.jpg"></a>
                        <div class="overlay">
                            <a class="zoom" href="assets/images/products/tribaljewel2377.jpg"></a> 
                            <a class="link" href="#/details/TRIBEJW2377"></a>
                        </div>
                    </figure>
                    <div class="detail">
                        <span>Rs 3200.00</span>
                        <h4>Tribal XYZ Necklace</h4>
                        <div class="icon">
                            <a class="one" href="javascript:void(0);" title="Add to wish list"></a> 
                            <a class="two" href="javascript:void(0);" title="Add to cart"></a> 
                            <a class="three" href="javascript:void(0);" title="Add to compare"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- PRODUCT-OFFER -->
<!-- CLIENTS -->
<div class="clients-wrap">
    <div class="container">
        <div class="heading-wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Our Brands <span></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="clients">
                    <ul class="elastislide-list clearfix" id="carousel">
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client1.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client2.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client3.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client4.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client1.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client2.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client3.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client4.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client1.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client2.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client3.jpg"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img alt="" src="assets/images/clients/client4.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- CLIENTS -->
<!-- CATEGORIES -->
<div class="categories-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="categories">
                    <figure>
                        <img alt="" src="assets/images/categories/categories1.jpg">
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Clothing</a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="categories">
                    <figure>
                        <img alt="" src="assets/images/categories/categories2.jpg">
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Bamboo & Cane</a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="categories">
                    <figure>
                        <img alt="" src="assets/images/categories/categories3.jpg">
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Bags</a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div><!-- CATEGORIES -->
<!-- FOOTER -->
<div class="shipping-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shipping">
                    <p><span>FREE SHIPPING</span> Offered by HAASTIKA - lorem ipsum dolor sit amet mauris accumsan vitate odio tellus</p><a class="button" href="javascript:void(0);">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(e) {

    $ = jQuery;

    // Lightbox
    $("a.zoom").prettyPhoto({
        social_tools: ''
    });

    $(".product figure").hover(function(){
        $(this).children('.overlay').stop(true, true).fadeIn(700);
    }, function(){
        $(this).children('.overlay').stop(true, true).fadeOut(500);
    });

    debugger;
    $('#carousel').elastislide({
        speed : 2000
    });

    $('.product figure .overlay a').hover(
        function(){
            $(this).stop().animate(
                {backgroundPosition: "(0 -41px)"},
                {duration:500}
            )
        },
        function(){
            $(this).stop().animate(
                {backgroundPosition: "(0 0)"},
                {duration:500}
            )
        }
    );

    $('.detail .icon a').hover(
        function(){
            $(this).stop().animate(
                {backgroundPosition: "(0 -42.3px)"},
                {duration:500}
            )
        },
        function(){
            $(this).stop().animate(
                {backgroundPosition: "(0 0)"},
                {duration:500}
            )
        }
    );

    $('#carousel').carouFredSel({
        responsive: true,
        circular: false,
        auto: false,
        items: {
            visible: 1,
            width: 200,
            height: '56%'
        },
        prev: '.prev',
        next: '.next',
        scroll: {
            fx: 'fade'
        }
    });

});    

</script>